/* GLOBAL CSS */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

::selection {
    color: #fff;
    background: #ec7532;
}

/* END GLOBAL CSS */


/* HEADER CSS */
.header {
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header__detail i, .header__detail span{
    font-size: 0.875rem;
    
}

.header__detail span {
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.header .navbar-nav {
    border-color: rgba(255, 255, 255, 0.3) !important;
}
 
.header .nav-link::after {
    content: ""; /* bat buoc phai co*/
    display: block;
    width: 0;
    height: 0.125rem;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: width .25s;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.header .nav-link:hover::after , .header .nav-link.active::after{
    width: 100%;
}

.navbar-toggler:focus {
    outline: 0;
    border: none !important;
    box-shadow: none; 
}

.navbar-toggler {
    margin-top: 1rem;
    border-color: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #fbbd61;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

 
/* slider css */

.carousel-item {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    min-height: 48rem;
}

.slider .carousel-caption > span{
    font-size: 0.875rem;
    color: #fbbd61;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.slider .carousel-caption h1 {
    font-size: 3.25rem;
}

.slider .carousel-caption {
    top: 50%;
    bottom: initial;
    left:50%;
    transform: translate(-50%, -50%);
}

.slider .carousel-caption p {
    font-size: 1rem;
    padding-right: 25%;
    font-weight: 400;
}

.slider .carousel-caption .trailer span {
    border-width: 2px !important;
    font-size: 0.875rem;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.slider .carousel-indicators {
    bottom: 5rem;
}

.slider .carousel-indicators li {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: transparent;
    border: 0.125rem solid #FFFFFF;
}

.slider .carousel-indicators .active {
    background-color: #FFFFFF;
}

.slider .carousel-item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #000000, transparent);
} 

.slider .carousel-caption .trailer .btn {
    background: linear-gradient(to right,#fbbd61,#ec7532);
    border: none;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 12px 24px;
    width: auto;
    cursor: pointer;
}


.slider .carousel-caption .trailer .btn::before {
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 0;
    height: 100%;
    content: '';
    transition: .4s;
    transform: skewX(30deg);
    background: #ec7532;
    z-index: 0;
}

.slider .carousel-caption .trailer .btn:hover::before{
    width: 140%;  
}

.slider .carousel-caption .trailer .btn span, 
.slider .carousel-caption .trailer .btn i
{
    position: relative;
    z-index: 1;
}

/* new in css */

.new .container > h1 { 
    font-size: 1.125rem;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    color: #ec7532;

    line-height: 1.4rem;
    position: relative;
    margin: 0 0 10px;
    padding: 0 0 20px;
    border-bottom: 1px solid #d8d8d8;
}

.new .container > h1::after {
    content: ""; /* bat buoc phai co*/
    display: block;
    width: 7.8125rem;
    height: 0.25rem;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.new .movie-slide .img {
    border-radius: 0.75rem;
}

.new .movie-slide .img .info {
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: all 0.4s;
    transition-delay: 0.1s;
}

.new .movie-slide .img:hover .info {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.new .movie-slide .img .info i {
    width: 4.5rem;
    height: 4.5rem;
    border-width: 2px !important;
}

.new .movie-slide h1 {
    font-size: 1.125rem;
    color: #4a4a4a;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.new .rating i {
    color: #fbbd61;
}

.new .movie-slide .img::before {
    content: '';
    width: 0;
    height: 110%;
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(30deg); /* keo dan */
    opacity: 0.9;
    left: -100%;
    transition: all 0.4s;
    transition-delay: 0.1s;
}

.new .movie-slide .img:hover::before{
    width: 300%;
}

/* owl carousel CSS */
.new .owl-theme .owl-nav button {
    position: absolute;
    top: 30%;

    border-radius: 0 !important;
    margin: 0 -3rem !important;
    transition: all 0.3s ease-in-out;
}

.new  .owl-theme .owl-nav button:hover {
    background-color: Transparent;
    margin: 0 -2.7rem !important;
}

.new .owl-theme .owl-nav button span{
    font-size: 4rem;
    font-weight: 300;
    color: #ec7532!important;
    border: none;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.new .owl-theme .owl-nav button span:hover {
    opacity: 0.6;
}

.owl-next {
    right: 0;
}

.owl-prev {
    left: 0;
}

.owl-next:focus, .owl-prev:focus {outline: none;}

/* SHOW TIME CSS */

.showtimes {
    padding-top: 5rem;
}

.showtimes .nav-tabs .nav-link {
    position: relative;

    padding: 0.625rem 1.875rem 1rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 1px;
    display: block;
    color: #4a4a4a;
    line-height: normal;
}

.showtimes .nav-tabs a.nav-link.active {
    color: #ec7532;
}

.showtimes .nav-tabs .nav-link::after
{
    content: '';
    width: 0;
    height: 0.25rem; 
    background: linear-gradient(to right,#fbbd61,#ec7532);

    position: absolute;
    bottom: -1px;
    left: 0;
    display:block;
    transition: all .25s ease-in-out; 
}

.showtimes .nav-tabs .nav-link:hover::after,
.showtimes .nav-tabs .nav-link.active::after
{
    width: 100%;
}

.showtimes .nav-tabs .nav-link::selection {
    color: #FFFFFF;
    background: #ec7532;
}

.showtimes .nav-tabs .nav-item.show .nav-link, 
.showtimes .nav-tabs .nav-link.active , 
.showtimes .nav-tabs .nav-link:hover {
    border: #FFFFFF;
    background-color: #FFFFFF;
    outline: none;
}

img.showtimes__img {
    border-radius: 0.625rem;
}

.showtimes__detail > span {
    color: #ec7532;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-size: 0.875rem;
}

.showtimes__detail h3 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #101010;
    margin-bottom: 0.625rem;
}

.showtimes__detail > p {
    color: #717171;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    margin-bottom: 1.25rem;
}

.showtimes__detail > a {
    font-size: 0.75rem;
    position: relative;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ec7532;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1.125rem;
    display: inline-block;
}

.showtimes__detail > a:hover {
    color: #101010;
}

.showtimes__list span{
    font-size: 0.75rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #4a4a4a;
}

.showtimes__list button.past {
    opacity: 0.5;
}

.showtimes__list button {
    font-size: 0.875rem;
    display: inline-block;
    margin-left: 0.3125rem;
    padding: 0.3125rem 0.625rem;
    letter-spacing: 0.125rem;
    color: #717171;
    border-radius: 0.3125rem;
    background-color: #d8d8d8;
}

.btn:focus {
    box-shadow: none;
}

.showtimes_length {
    font-size: 0.75rem;
    text-align: right;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.showtimes_length .certificate {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 2rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 0.3125rem;
    text-align: center;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50%;
    background: #4a4a4a;
}

.movie__tab {
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #d8d8d8;
}

.movie__tab:last-child {
    border-bottom: none;
}

.showtimes .tab-content {
    padding: 2.8rem 0;
}

.view__times {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* END SHOWTIMES CSS */

/* REPONSIVE CSS */

@media (max-width: 991px) {
    .container {
        max-width: 960px;
    }

    .navbar-collapse .navbar-nav{
        position: static;
        margin: 0!important;
        background: rgba(0,0,0,.9);
    }

    .header .nav-link.active::after {
        width: 0;
    }

    .header .nav-link:hover::after {
        width: 100%;
    }

    .header .nav-link.active {
        color: #ec7532 !important;
    }

    .container .navbar-collapse {
        margin-top: 1rem;
        margin-right: -15px;
        margin-left: -15px;
    }

} 

@media (max-width: 767px) {
    img.showtimes__img {
        margin-bottom: 1.5rem;
    }

    .showtimes__list button{
        margin-bottom: 0.3rem;
    }
    
    .showtimes .showtimes_length {
        text-align: left;
    }


}

@media screen and (max-width:576px) {
    
    html {
        font-size: 15px;
    }

    img.showtimes__img {
        width: 100%;
    }

    .slider .carousel-caption h1 {
        font-size: 2.8rem;
    }

    .slider .carousel-caption  {
        padding: 0 2rem;
    }

    .showtimes .nav-tabs .nav-link::after
    {
        content: '';
        width: 0.25rem;
        height: 0; 
        background: linear-gradient(to bottom,#fbbd61,#ec7532);

        position: absolute;
        bottom: 0;
        left: 0;
        display:block;
        transition: all .25s ease-in-out; 
    }

    .showtimes .nav-tabs .nav-link:hover::after,
    .showtimes .nav-tabs .nav-link.active::after
    {
        width: 0.25rem;
        height: 100%;
    }

}

